<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% binding.pry %>
    <% if Helpers.is_logged_in?(session) %>
    <% @user = Helpers.current_user(session) %>
      Name: <%= @user.username %> <br>
      Balance: <%= @user.balance %> <br>
    <% else %>
      <p><a href="/logout">Log Out</a></p>
    <% end %>


  </body>
</html>
